#myTable {
  white-space: normal !important;
  font-weight: normal !important;
  font-size: 10pt !important;
}

 textarea {
    width: 100%;
    height: 100px;
    resize: VERTICAL ;
    padding: 5px 5px !important;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
}

select {
    width: 100%;
    height: 25px;
    padding: 3px;
    margin: 2px;
    font-size: 110%;
}


/* CSS for Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Adjust width as needed */
  height: 50%;
  max-width: 701px; /* Set a maximum width */
  background-color: #d3e4f9;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.37); /* Box shadow for depth */
  padding: 30px;
  font-size: 23px; /* Adjust font size */
  line-height: 2; /* Adjust line height */
}

.modal-content textarea {
  height: 300px;
}
.modal-content {
  position: relative;
  display: flex;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}



html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
figcaption,
figure,
main {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select {

 
    line-height: 1.15;
    margin: 0;

}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    border: none;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details,
menu {
    display: block;
}
summary {
    display: list-item;
}
canvas {
    display: inline-block;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@media print {
    body {
        background: #fff none !important;
    }
    a,
    a:visited {
        color: #363636 !important;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
    img,
    figure,
    li[id^="ref"] {
        page-break-inside: avoid;
    }
    .print-link:after {
        content: " - " attr(href);
        font-style: italic;
    }
    .hide-print {
        display: none !important;
    }
    .full-width-print {
        margin: 0;
        padding: 0;
        width: 100% !important;
        float: none;
    }
    .hide-overflow {
        overflow: visible;
        height: auto !important;
    }
    .pill-button,
    .pill-button:hover {
        background-color: #fff;
        border: none;
    }
    .pill-button > span,
    .pill-button:hover > span {
        background-image: none;
        padding-right: 0;
    }
    .full-size-last {
        margin-right: 0;
    }
    .full-size-clear {
        clear: both;
    }
    .article-section h2.background-gray-light {
        background-color: #fff;
        margin-left: 0 !important;
        padding-left: 0 !important;
        border-bottom: 1px solid #e7e7e7;
    }
    .background-gray-dark,
    .background-gray-dark-translucent {
        background-color: #fff;
    }
    .js .tab-skin .tab-btn,
    .js .accordian-skin .accordian-btn {
        background-color: #fff !important;
    }
    .contrast-text,
    .contrast-text a {
        color: #000;
    }
    .hero {
        display: inline;
    }
    .hero-content {
        padding-top: 0;
        min-height: inherit;
    }
    .hero-text-wrapper {
        padding: 0;
        width: 100%;
    }
}
body {
    font-size: 13px;
    line-height: 1.5;
    font-family: sans-serif;
}
.container {
    max-width: 728px;
    margin: 0 auto;
}
a {
    color: #069;
}
a:hover,
a:focus {
    text-decoration: underline;
}
button {
    cursor: pointer;
}
button:hover {
    cursor: default;
}
.small-header-icons {
    padding-right: 0.5em;
}
.small-space-below {
    margin-bottom: 0.5em;
}
img.block {
    display: block;
}
h1,
.h1 {
    font-size: 20px;
    font-size: 1.25rem;
}
h2,
.h2 {
    font-size: 18px;
    font-size: 1.125rem;
}
h3,
.h3 {
    font-size: 16px;
    font-size: 1rem;
}
h4,
.h4 {
    font-size: 14px;
    font-size: 0.875rem;
}
.upper {
    text-transform: uppercase;
}
.no-underline {
    text-decoration: none;
}
cite {
    font-style: normal;
}
ins {
    text-decoration: none;
}
.hide {
    display: none;
    visibility: hidden;
}
.js .js-hide {
    display: none;
}
.screen-reader-text {
    position: absolute;
    left: -99999px;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.show {
    display: block;
    visibility: visible;
}
.show-inline {
    display: inline;
    visibility: visible;
}
.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.number {
    list-style-type: decimal;
}
.bullet {
    list-style-type: disc;
}
.none {
    list-style-type: none;
}
.ucletter {
    list-style-type: upper-alpha;
}
.lcletter {
    list-style-type: lower-alpha;
}
.ucroman {
    list-style-type: upper-roman;
}
.lcroman {
    list-style-type: lower-roman;
}
.inside {
    list-style-position: inside;
}
.tighten-line-height {
    line-height: 1.25;
}
.credit {
    font-size: 10px;
}
.inline-list > li,
.inline-list > dt,
.inline-list > dd {
    display: inline;
}
.inline-group-item {
    display: inline-block;
    vertical-align: bottom;
}
img :not(.journal-logo),
img :not(.site-logo) {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.header-logo-container h1 {
    color: #fff;
    padding: 10px;
    background: #333;
}
.menu-button {
    border: 1px solid #ccc;
    padding: 10px 20px;
    float: right;
    margin: 5px 10px;
}
button,
.btn {
    border-radius: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td,
table th {
    border: 1px solid #eee;
    padding: 1px;
}
table td {
    white-space: normal;
    max-width: 100px;
}
table tr:nth-child(even) {
    background-color: #f3f3f3;
    border-color: #fff;
} /*# sourceMappingURL=basic.css.map */